{%extends 'blog/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>
<body text="black">
    <div class="container-1">

    <div class="portfolio">
        <h4><i><b>"I'm a web developer with a focus on the Full Stack,<br>
        but still exploring other technologies and frameworks that catch my interest! <br>
        if you're looking for a developer to add to your team." <br></b></i></h4>
            <h3 class="p"><i>I'd love to hear from you!"</i></h3>
    </div>
   <img src="/static/image/koduri.jpg" alt="image" width="200" height="200" >
        <div class="header-right">
            <h2><i>Hi There,I'm </i> </h2>
            <h2><i>Rakesh Koduri</i></h2>
            <br>
            <p><b> <i>"A Full Stack developer Passionate about creating <br>
                interactive applications and developing a web app<br>
                for clients and having experience on the web".
            </i></b></p>
        </div>

        <div class="social">

            <div class="header-right">
                <a class="btn btn-primary"   href="#!" role="button"
                  ><span><i class="fab fa-linkedin-f">linkedin</i></span></a>

                     <a class="btn btn-primary"  href="#!" role="button"
                  ><span><i class="fab fa-facebook-f">facebook</i></span></a>

                <a class="btn btn-primary"  href="#!" role="button"
                  ><span><i class="fab fa-instagram-f">Instagram</i></span></a>
            </div>
        </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
{% endblock  %}